!!! 5
%html
  %head
    %title MIAMI INTERNET BEATS
    %script(src='/prototype.js' type='text/javascript')
    %script(src='/miamibeats.js' type='text/javascript')
    %link(href='/miamibeats.css' rel='stylesheet' type='text/css' media='screen')
  %body
    .rotationPart
      %h1 MIAMI INTERNET BEATS
      .bars
        #beats=current_beats.round
        #beatBar.bar
        #fractionalBeats=(current_beats - current_beats.floor).round(2)
        #fractionBar.bar
        #date
        #dateBar.bar
      #stopButton stop
      .description
        :markdown
          MIAMI INTERNET BEATS is the new time standard for the Internet. There are one thousand
          beats per day, so each beat is about 86 seconds. More information on the scale is on
          [Wikipedia](http://en.wikipedia.org/wiki/Swatch_Internet_Time).

          This is better than Swatch beats because it is bound to Miami time (US Eastern), so it
          is relevant and useful even if you live in NYC or Washington DC.
