!!! 5
%html
  %head
    %title MIAMI INTERNET BEATS
    %script(src='/prototype.js' type='text/javascript')
    %script(src='/miamibeats.js' type='text/javascript'd)
  %body
    %h1 MIAMI INTERNET BEATS
    #beats=current_beats.round(2).to_s
    #stopButton stop
    .description
      :markdown
        MIAMI INTERNET BEATS is the new time standard for the Internet.
